/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


/* .color_primary {color: #f26529d;} */ff0000
.color_primary {color: #ff0000;}
.bg-color_primary {background-color: #ff0000;}
.color_second {color: #9faab4;}
.bg-color_second {background-color: #003399;}

.color_primary_hov:hover {color: #ff0000;}
.bg-color_primary_hov:hover {background-color: #ff0000;}
.color_second_hov:hover {color: #003399;}
.bg-color_second_hov:hover {background-color: #003399;}
